<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg prefix)">

    <xacro:arg name="prefix" default="" />
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <xacro:arg name="prefix" default="" /> <xacro:include filename="$(find isaac_moveit)/urdf/panda.urdf" />
    <xacro:include filename="panda.ros2_control.xacro" />
    <xacro:include filename="panda_hand.ros2_control.xacro" />

    <xacro:panda_ros2_control 
        name="PandaFakeSystem" 
        initial_positions_file="$(arg initial_positions_file)" 
        ros2_control_hardware_type="$(arg ros2_control_hardware_type)"
        prefix="$(arg prefix)" />

    <xacro:panda_hand_ros2_control 
        name="PandaHandFakeSystem" 
        ros2_control_hardware_type="$(arg ros2_control_hardware_type)"
        prefix="$(arg prefix)" />

</robot>